<mat-card>
    <mat-card-title>
        Login
    </mat-card-title>
    <mat-divider></mat-divider>
    <form>
        <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="username" name="username">
            <mat-hint matTooltip="Your E-Mail or your username" [matTooltipPosition]="right">Hint</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="Password"
                   [(ngModel)]="notUsernameSumOtherTextWhichIsRequiredToLogIn" name="password">
            <mat-hint matTooltip="Your Password" [matTooltipPosition]="right">Hint</mat-hint>
        </mat-form-field>
        <br>
        <mat-select placeholder="Bäume" (selectionChange)="baumValidator($event)">
            <mat-option>Baum</mat-option>
            <mat-option>Baum2</mat-option>
            <mat-option>Baum3</mat-option>
        </mat-select>
        <br>
        <br>
        <mat-radio-group>
            <mat-radio-button value="1" color="primary">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>

        <!--<mat-form-field>
            <button mat-button (click)="check()">Submit</button>
        </mat-form-field>-->
    </form>
    {{baum}}
</mat-card>